a {
    color: #009579;
}

body {
    margin: 20px;
    padding: 20px;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
}

.navBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #333;
    padding: 10px 0;
    width: 100%;
    position: fixed;
    top: 0;
    flex-grow: 1;
    z-index: 1;
}

.navBar a {
    color: #ffffff;
    text-decoration: none;
    padding: 12px;
    transition: color 0.3s ease;
}

.navBar a:hover {
    color: #009579;
}